.dashboard {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 10px 12rem;
}

.news-section {
  width: 360px;
  background: #fff;
}

/* Media Query */

@media all and (max-width: 1300px) {
  .dashboard {
    margin: 10px 6rem;
  }
}

@media all and (max-width: 1200px) {
  .dashboard {
    margin: 10px 2rem;
  }
}