.post-lists {
  background: #fff;
  border-radius: 8px;
  width: 60rem;
  margin: 20px auto;
  padding: 20px;
}

.post-lists h4 {
  font-size: 24px;
}

.post-lists .post-cards {
  width: 90%;
  margin: 0 auto;
}

/* Media Query */

@media all and (max-width: 768px) {
  .post-lists {
    width: 90%;
    margin-bottom: 50px;
  }
}