.post-section .post-form {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid gainsboro;
}

.post-section .post-form .textarea-container {
  width: 80%;
}

.textarea-container textarea {
  width: 91%;
  padding: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid gainsboro;
}

.post-section .post-form .profile-pic {
  height: 50px;
  border-radius: 50%;
}

.post-action-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-action-options .image-upload-icon {
  font-size: 24px;
  color: #00f;
  cursor: pointer;
}

.post-action-options button {
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  background: #156FE5;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}