/* post card */
.post-card {
  padding: 8px;
  margin: 10px 0;
  border: 1px solid gainsboro;
}

.post-card .post-details-container {
  display: flex;
  align-items: center;
}

.post-card .profile-pic {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-card .post-detail-text h2 {
  margin: 0;
}

.post-card .post-content {
  font-size: 12px;
  line-height: 1.5;
  margin: 10px 0;
}

.post-card .like-btn {
  font-size: 18px;
  color: #00f;
  cursor: pointer;
}