/* Profile card */
.profile-card {
  border: 1px solid rgb(184, 184, 184);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  position: relative;
  border-radius: 5px;
  background: #fff;
  position: sticky;
  top: 10px;
}

.profile-card .profile-cover-image {
  height: 100px;
  background: aqua;
  border-radius: 5px;
}

.profile-card .profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -40px;
}

.profile-card .profile-name,
.profile-card .profile-bio {
  text-align: center;
}

.profile-card .profile-name {
  margin-top: 60px;
}

.profile-card .profile-bio {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  padding: 8px;
}

.profile-card .follow-count {
  font-size: 14px;
  padding: 8px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.profile-card .nav-item {
  font-size: 16px;
  display: block;
  padding: 0 8px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.profile-card a:hover {
  color: #00f;
}